<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>All products</title>
    <link th:replace="fragments :: link_css"></link>
</head>
<body>
<th:block th:replace="fragments :: header-panel"></th:block>
<div class="container">
    <div class="row">
        <h1 class="page-header">All products</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Description</b></td>
                    <td><b>Price</b></td>
                    <td><b>Count</b></td>
                    <td><b>Buy count</b></td>
                    <td><b>Buy</b></td>
                </tr>
                <tr th:each="product : ${products}">
                    <form th:action="@{/user/products/__${product.id}__/buy}" th:method="post">
                        <td th:text="${product.name}">Name</td>
                        <td th:text="${product.description}">Description</td>
                        <td th:text="${product.price}">Price</td>
                        <td th:text="${product.count}">Count</td>
                        <td>
                            <select th:name="number">
                                <!--<option th:text="0"></option>-->
                                <option th:each="i : ${#numbers.sequence(0, product.count)}" th:value="${i}"
                                        th:text="${i}">number
                                </option>
                            </select>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-lg btn-success">Buy</button>
                        </td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>