<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="hello :: link_css"></link>
</head>
<body>
<th:block th:replace="hello :: header-panel"></th:block>
<div class="container">
    <div class="row">
        <h1 class="page-header">Update product</h1>
        <div class="table-responsive">
            <form th:action="@{/admin/products/__${product.id}__/update}" th:method="post" th:object="${product}">
                <table class="table table-striped">
                    <tr>
                        <td>Name</td>
                        <td><input type="text" th:field="*{name}"/></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><textarea rows="3" th:field="*{description}"/></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><input type="text" th:field="*{price}"/></td>
                    </tr>
                    <tr>
                        <td>Count</td>
                        <td><input type="text" th:field="*{count}"/></td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-lg btn-success">Update</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>